.about {
    padding: 5%;
    text-align: center;
    width: 60%;
    margin: auto;
    background-color: #1F1E1E;
    border-radius: 10px;
}

.body {
    text-align: justify;
    font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
    .about {
        width: 85%;
        background-color: #131312;
        border-radius: 0;
    }
}