.about {
    padding: 5%;
    text-align: center;
    width: 60%;
    margin: auto;
    background-color: #1F1E1E;
    border-radius: 10px;
}

.body {
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .about {
        padding: 10% 0 0 0;
        width: 85%;
        background-color: #131312;
        border-radius: 0;
    }
}