.home {
    text-align: center;
    padding-top: 13%;
    font-size: 2rem;
}

.mainHeading {
    margin-bottom: 10%;
    color: var(--green);
}

.socIcon {
    display: inline-block;
	font-size: 1.2em;
	padding: 10px;
	width: 45px;
	height: 45px;
	text-align: center;
	line-height: 1.25;
	border: 1px solid var(--green);
	border-radius: 100%;
	margin: 0 10px;
	transition-duration: 2s;
	transform: scale(1);
}

.socIcon:hover {
    transform: scale(1.5);
}

.particles{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

@media screen and (max-width: 768px) {
    .home {
        padding-top: 70%;
    }

    .mainHeading {
        font-size: 3.5rem;
    }

    .socIcon {
        width: 20px !important;
        height: 20px !important;
        margin: 5px;
    }
}