:root {
    --green: rgb(25, 207, 25);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3% 0 3%; 
    background-color: #1F1E1E;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
}

.nav-link:hover {
    color: var(--green);
    transition-duration: 1s;
}

.nav-logo {
    font-size: 20px;
    font-weight: 700;
    color: --green;
}

.hamburger {
    display: none;
}

@media only screen and (max-width: 768px) {
    .navbar {
        padding: 1% 5% 1% 5%;
    }

    .nav-logo {
        display: none;
    }

    .nav-link {
        font-size: 15px;
        font-weight: bolder;
    }

    .nav-menu:focus-within {
        left: 0;
    }

    .nav-item {
        display: flex;
        justify-content: center;
        margin: 0 7% 0 7%;
    }
}
