.navbar {
    display: flex;
    flex-direction: row;
    background-color: rgb(31, 30, 30, 0.3);
    backdrop-filter: blur(10px);
    align-items: center;
    font-size: 20px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navLogo, .navLink {
    text-decoration: none;
}

.navLogo {
    width: 30%;
    margin-left: 2%;
}

.navMenu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 30%;
}

.navLink {
    color: #FFF;
}

.navItem {
    padding: 0 10% 0 10%;
}

.navLink:hover {
    color: var(--green);
    transition-duration: 1s;
}

@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        overflow-x: scroll;
    }

    .navLogo {
        display: none;
    }

    .navMenu {
        padding-left: 20%;
    }
}