.projects {
    padding: 5% 5% 5% 5%;
}

.rows {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 2%;
}

.card {
    background-color: #1F1E1E;
    color: #FFF;
    width: 50%;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-right: 2%;
    padding: 2%;
}

.cardButton {
    color: var(--green);
    cursor: pointer;
    margin-right: 2%;
}

.image {
    max-width: 100%;
    height: auto;
}

.projectWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1F1E1E;
    padding: 2%;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    overflow-y: scroll;
}

.closeButton {
    display: block;
    float: right;
}

.modalImage {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .projects {
        padding: 3%;
    }

    .rows {
        flex-direction: column;
    }

    .card {
        flex-direction: column-reverse;
        width: 90%;
        margin: auto;
        padding: 5% 5% 5% 5%;
        margin-bottom: 5%;
    }

    .image {
        width: 100%;
        height: auto;
        margin: auto;
    }
    
    .cardImage {
        width: 100%;
        height: auto;
        margin: auto;
    }
}