.work {
    padding: 5% 5% 5% 5%;
    margin-left: 2%;
    /* background-color: #1F1E1E;
    width: 60%;
    margin: auto; */
}

.flowDesc {
    margin-left: 25%;
    padding-bottom: 3%;
}

.flowIcon {
    border: 1px solid #FFF;
    border-radius: 50%;
    padding: 2%;
    margin-left: -4.5%;
}

.demo {
    background-color: #1F1E1E;
    padding: 2%;
    padding-left: 4%;
    border-radius: 20px;
    margin-top: -3%;
}

.flowBox {
    list-style: none;
    min-height: 50px;
    border-left: 2px solid #fff;
    position: relative;
    padding: 4%;
    width: 80%;
}

.flowBox::before {
    position: absolute;
    left: 0px;
    content: " ";
    /* border-radius: 50%;
    background: var(--green); */
    border-top: 15px solid transparent;
    border-left: 15px solid var(--green);
    border-bottom: 15px solid transparent;
    /* height: 30px;
    width: 30px; */
}

.flowBox > h2 {
    display: inline;
}

.flowBox > i {
    margin-top: 0.5%;
    display: block;
}

.projects {
    display: flex;
    flex-direction: row;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header > i {
    padding: 4%;
}

@media screen and (max-width: 768px) {
    .work {
        padding: 10% 2% 2% 2%;
        width: 90%;
        background-color: #131312;
    }

    .flowDesc {
        margin-left: -5%;
    }

    .demo {
        width: 100%;
        padding: 5%;
    }

    .flowBox {
        padding: 7%;
        width: 85%;
    }

    .header {
        flex-direction: column;
    }

    .header > i {
        padding: 0;
    }
}