.work {
    padding: 3% 10% 10% 10%;
}

.flowDesc {
    margin-left: 25%;
    padding-bottom: 3%;
}

.flowIcon {
    border: 1px solid #FFF;
    border-radius: 50%;
    padding: 2%;
    
    margin-left: -4.5%;
}

.flowBox {
    list-style: none;
    min-height: 50px;
    border-left: 1px dashed #fff;
    position: relative;
    padding: 3%;
}

.flowBox::before {
    position: absolute;
    left: -15px;
    content: " ";
    border-radius: 500%;
    background: rgb(25, 207, 25);
    height: 30px;
    width: 30px;
}

.flowBox > h2 {
    display: inline;
}

.flowBox > i {
    margin-top: 0.5%;
    display: block;
}

@media screen and (max-width: 768px) {
    .work {
        padding: 2%;
    }

    .flowDesc {
        margin-left: 2%;
    }

    .flowBox {
        padding: 7%;
    }
}